// breakpoint: 1024px
@media only screen and (min-width: 64em) {
  body {
    grid-template-rows: auto rem(83) auto rem(128) auto;

    padding: 0 rem(165);

    background: url("/resources/assets/shared/pattern-square.svg") no-repeat,
      url("/resources/assets/shared/pattern-square.svg") no-repeat;
    background-position: top rem(196) right rem(-120),
      top rem(950) left rem(-120);
  }

  header {
    padding: 0;
    margin: rem(55) 0 0;
  }

  main {
    row-gap: rem(168);

    #content1 {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, rem(480));
      column-gap: rem(30);
      row-gap: rem(30);

      margin: 0;
      height: fit-content;

      .cont1-section1 {
        grid-column: 1 / 6;
        grid-template-rows: auto rem(24) auto rem(40) auto;
        align-content: center;

        margin: 0;
        max-width: rem(445);

        h1 {
          @include font(rem(56), rem(56));
        }
        & > p {
          font-size: rem(18);
        }
        div {
          column-gap: rem(40);
        }
      }
      .image1 {
        grid-row: 1 / 2;
        grid-column: 7 / 13;

        height: rem(480);

        background: url("../../assets/desktop/image-keyboard.jpg") no-repeat
          left / cover;
        border-radius: rem(20);
      }
      .image2-container {
        grid-row: 2 / 3;
        grid-column: 1 / 9;

        height: rem(480);
        margin: 0;

        .image2-1-2 {
          background: url("../../assets/desktop/image-phone-and-keyboard.jpg")
            no-repeat right / cover;
        }
        .image2-2 {
          width: 166%;
          background: url("../../assets/desktop/image-glass-and-keyboard.jpg")
            no-repeat right / cover;
        }
      }
      .cont1-section2 {
        grid-row: 2/ 3;
        grid-column: 10 / 13;

        grid-template-columns: initial;
        row-gap: rem(27);
        column-gap: 0;
        align-content: center;

        padding: 0;
        max-width: rem(255);

        h2 {
          margin: 0;
        }
      }
    }
    #content2 {
      grid-template-columns: repeat(12, 1fr);
      row-gap: 0;
      column-gap: rem(30);

      margin: 0;
      height: fit-content;

      section {
        grid-template-rows: auto rem(48) auto rem(24) auto;
        justify-items: left;

        text-align: left;

        max-width: rem(255);
      }

      .section1 {
        grid-column: 1 / 4;
      }
      .section2 {
        grid-column: 4 / 7;
      }
      .section3 {
        grid-column: 7 / 10;
      }
      .section4 {
        grid-column: 10 / 13;
      }
    }
  }

  footer {
    padding-bottom: 0;
    margin-bottom: rem(39);
  }
}
