@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: url("../../images/bg-pattern-top.svg") no-repeat, url("../../images/bg-pattern-bottom.svg") no-repeat;
  background-color: #19a2ae;
  background-position: left -25rem top -23rem, right -26rem bottom -19rem;
  background-size: 38.875rem 38.8125rem, 38.875rem 38.8125rem;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: auto;
  color: #2d3248;
  text-align: center;
}

footer a {
  color: #6a6f81;
  text-decoration: none;
}

footer a:hover {
  color: #81746a;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0 3.125rem 6.25rem -1.25rem rgba(8, 70, 94, 0.504835);
          box-shadow: 0 3.125rem 6.25rem -1.25rem rgba(8, 70, 94, 0.504835);
  border-radius: 0.9375rem;
  text-align: center;
  position: relative;
}

.card .heroImg {
  height: 8.75rem;
  background: url("../../images/bg-pattern-card.svg") no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.9375rem 0.9375rem 0 0;
}

.card img {
  width: 6rem;
  height: 6rem;
  border: 0.3125rem solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 5.75rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.card .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 8.4375rem;
  height: 1.4375rem;
  position: relative;
  text-align: left;
}

.card .content div h1 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #2d3248;
  position: absolute;
  bottom: 0;
}

.card .content div p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #6a6f81;
  position: absolute;
  right: 0;
  top: 0;
}

.card .content .city {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #6a6f81;
}

.card .line {
  height: 0.0625rem;
  background-color: #e9e9ec;
}

.card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .stats div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5625rem;
}

.card .stats div .number {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #2d3248;
}

.card .stats div .head {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #6a6f81;
  letter-spacing: 0.09375rem;
}

@media only screen and (min-width: 48em) {
  body {
    background-position: left -18rem top -32rem, right -14rem bottom -40rem;
    background-size: 61.125rem 61rem, 61.125rem 61rem;
  }
}

.card {
  display: -ms-grid;
  display: grid;
  max-width: 20.375rem;
}

.card .heroImg {
  width: 100%;
}

.card .content {
  width: 100%;
  padding: 4.5rem 5.96875rem 1.5rem;
}

.card .stats {
  width: 100%;
  padding: 1.5rem 3.25rem 1.5rem 2.5625rem;
}

@media only screen and (min-width: 48em) {
  .card {
    max-width: 21.875rem;
  }
  .card .content {
    padding: 4.5rem 6.71875rem 1.75rem;
  }
  .card .stats {
    padding: 1.5rem 3.375rem 1.5rem 2.9375rem;
  }
}
/*# sourceMappingURL=styles.css.map */