* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    // full screen
    width: 100%;
    min-height: 100vh;

    // set center
    display: grid;
    place-content: center;

    // screen background setting
    background: url('../../images/bg-pattern-top.svg') no-repeat, url('../../images/bg-pattern-bottom.svg') no-repeat;
    background-color: $DarkCyan;
    // Edge offset value
    background-position: left rem(-400) top rem(-368), right rem(-416) bottom rem(-304);
    background-size: rem(622) rem(621), rem(622) rem(621);
}

// attribution
footer {
    // set center
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    // font
    @include font (700, rem(11), auto, $VeryDarkDesaturatedBlue);
    text-align: center;

    // set link color
    a {
        color: $DarkGrayishBlue;
        text-decoration: none;

        &:hover {
            color: hsl(27, 10%, 46%);
        }
    }
}