// For Desktop
@media only screen and (min-width: 64em) {
  // body - general
  body {
    // background image
    background-image: url("../../images/bg-pattern-top-desktop.svg"),
      url("../../images/bg-pattern-bottom-desktop.svg");
  }

  // main - RWD
  main {
    // main RWD
    column-gap: 0;
    justify-items: normal;

    // set padding
    padding: rem(127) rem(165) rem(100);
  }

  // content - RWD and content
  #content {
    // content all text align
    text-align: left;
    row-gap: rem(6);
    align-items: center;

    // set padding
    padding-bottom: rem(72);

    // header
    h1 {
      // font
      font-size: rem(48);
      line-height: rem(48);
      letter-spacing: rem(-1.71);
    }
  }

  // rate cards - RWD
  #rateCards {
    // set layout
    grid-column: 2 / 3;

    // set width
    max-width: rem(540);
    max-height: rem(200);

    // set padding
    padding: 0;
    padding-top: rem(18);

    // all box
    .box {
      // for text and star align
      flex-flow: row nowrap;
      row-gap: 0;
      column-gap: rem(32);
      align-items: center;
    }

    // box 1
    .b1 {
      // set padding
      padding: rem(20.09) rem(90) rem(19.91) rem(32);
    }

    // box 2
    .b2 {
      // set padding
      padding: rem(20.09) rem(60) rem(19.91) rem(32);
    }

    // box 3
    .b3 {
      // set padding
      padding: rem(20.09) rem(88) rem(19.91) rem(32);
    }
  }

  // review cards - RWD
  #reviewCards {
    // set layout
    grid-column: 1 / 3;

    // for 3 review cards
    gap: rem(30);

    // set max width and hight
    max-width: rem(1110);
    height: rem(266);

    // all card
    .card {
      // set padding
      padding: rem(40) rem(32);
      // set max height
      max-height: rem(234);
    }

    // card 1
    .c1 {
      // set grid
      grid-column: 1 / 2;
      align-self: flex-start;
    }

    // card 2
    .c2 {
      // set grid
      grid-column: 2 / 3;
      align-self: center;
    }

    // card 3
    .c3 {
      // set grid
      grid-column: 3 / 4;
      align-self: flex-end;
    }
  }
}
