// font
@mixin font($w, $s, $l, $c) {
  font-weight: $w;
  font-size: $s;
  line-height: $l;
  color: $c;
}

// px to rem
@function rem($px) {
  $remValue: ($px / 16) + rem;
  @return $remValue;
}

// Primary
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);

// Accent
$Blue: hsl(248, 32%, 49%);

// Neutral
$DarkBlue: hsl(249, 10%, 26%);
$GrayishBlue: hsl(246, 25%, 77%);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); // font-family: 'Poppins', sans-serif;

@import "general";
@import "content";
@import "form";
@import "mediaDesktop";