* {
  box-sizing: border-box;

  // reset
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

html {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  // full screen
  width: 100%;
  min-height: 100vh;

  padding: rem(148) rem(24) rem(85);

  background: linear-gradient(180deg, $SoftViolet 0%, $SoftBlue 100%);
}
