@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/pattern-background-mobile.svg");
  background-color: #e0e8ff;
  background-repeat: no-repeat;
}

.card-container {
  width: 327px;
  height: 567px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 15px 15px #ccd9ff;
          box-shadow: 0px 15px 15px #ccd9ff;
}

.card-container .main-img {
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 32px;
}

.card-container .text-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 30px;
}

.card-container .text-container h1 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 900;
  color: #1f2f56;
}

.card-container .text-container p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 25px;
  color: #7280a7;
}

.card-container .plan-container {
  width: 279px;
  height: 82px;
  margin: 24px;
  background-color: #f5f7ff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .plan-container img {
  width: 48px;
  height: 48px;
  margin: 16px;
}

.card-container .plan-container div {
  width: 50%;
}

.card-container .plan-container div .plan {
  font-size: 15px;
  font-weight: 900;
  color: #1f2f56;
  text-align: left;
  margin-bottom: 3px;
}

.card-container .plan-container div .price {
  font-size: 15px;
  font-weight: 500;
  color: #7280a7;
  text-align: left;
}

.card-container .plan-container a {
  font-size: 13px;
  font-weight: 700;
  color: #3829e0;
}

.card-container .plan-container a:hover {
  text-decoration: none;
  opacity: 0.75;
}

.card-container .button {
  margin: 0px 24px;
  padding: 15px 0px;
  background-color: #3829e0;
  border: none;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 0px 20px 20px #d6d2f9;
          box-shadow: 0px 20px 20px #d6d2f9;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

.card-container .button:hover {
  opacity: 0.75;
}

.card-container .cancel {
  margin: 21px 0px 30px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  color: #7280a7;
}

.card-container .cancel:hover {
  color: #1f2f56;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.attribution p {
  font-size: 11px;
  font-weight: 500;
  color: #1f2f56;
}

.attribution a {
  font-size: 11px;
  font-weight: 500;
  color: #7280a7;
  text-decoration: none;
}

.attribution a:hover {
  color: #a78772;
}

@media only screen and (max-height: 625px) {
  .attribution {
    display: none;
  }
}

@media only screen and (max-width: 310px) {
  .attribution {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  body {
    background-image: url("/images/pattern-background-desktop.svg");
  }
  .card-container {
    width: 450px;
    height: 696px;
  }
  .card-container .main-img {
    width: 100%;
    height: 220px;
    margin-bottom: 46px;
  }
  .card-container .text-container {
    padding: 0px 50px;
  }
  .card-container .text-container h1 {
    font-size: 28px;
  }
  .card-container .plan-container {
    width: 354px;
    height: 98px;
    margin: 16px 48px 32px;
  }
  .card-container .plan-container img {
    margin: 24px;
  }
  .card-container .plan-container div {
    width: 53%;
  }
  .card-container .button {
    margin: 0px 48px;
  }
  .card-container .cancel {
    margin: 29px 0px 40px;
  }
}

@media only screen and (min-width: 375px) and (max-height: 750px) {
  .attribution {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */