@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

html {
  font-family: "Chivo", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  background-color: #121726;
  position: relative;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: url("../../assets/mobile/image-host.jpg") no-repeat;
  background-position: center;
  opacity: 0.1;
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 3.875rem;
  margin-bottom: 3.5625rem;
}

header img {
  display: block;
}

main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2.0625rem;
  padding: 0 1.5rem;
}

main h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 2.375rem;
  color: #56e6af;
}

main h1 span {
  color: white;
}

main p {
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #c2cbe5;
}

form {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 1.5rem;
  margin-bottom: 5.875rem;
}

form #email {
  border: none;
  outline: none;
  background-color: #2b334a;
  border-radius: 1.75rem;
  width: 100%;
  padding: 0.5625rem 2rem;
  margin-bottom: 0.5rem;
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: white;
}

form #email::-webkit-input-placeholder {
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: white;
  opacity: 0.5;
}

form #email:-ms-input-placeholder {
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: white;
  opacity: 0.5;
}

form #email::-ms-input-placeholder {
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: white;
  opacity: 0.5;
}

form #email::placeholder {
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: white;
  opacity: 0.5;
}

form p {
  display: none;
  padding: 0 2rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #fb3c3c;
}

form #submit {
  cursor: pointer;
  border: none;
  background-color: #56e6af;
  border-radius: 1.75rem;
  padding: 0.5625rem 0;
  margin-top: 0.5rem;
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #121726;
}

form #submit:hover {
  background-color: #b3ffe2;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 100%;
  max-width: 33.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 3rem;
  padding: 0 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer img {
  display: block;
  height: 1.0625rem;
}

footer #google {
  height: 0.6875rem;
}

footer #pocket {
  height: 0.9375rem;
}

@media only screen and (min-width: 48em) {
  body {
    justify-items: start;
    padding-left: 2.4375rem;
    background: url("../../assets/desktop/bg-pattern-dots.svg") no-repeat #121726;
    background-position: bottom left 1.875rem;
  }
  body::before {
    background: url("../../assets/tablet/image-host.jpg") no-repeat;
    background-position: top right;
    opacity: 1;
  }
  header {
    margin-top: 3.125rem;
    margin-bottom: 9.5rem;
  }
  main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    height: 31.875rem;
    background-color: #121726;
  }
  main {
    row-gap: 1.9375rem;
    position: relative;
    margin-bottom: 2.5rem;
    padding: 0;
    text-align: left;
  }
  main h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    max-width: 41.5625rem;
    margin-top: 5.8125rem;
  }
  main p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 27.8125rem;
  }
  form {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    display: block;
    padding: 0;
    margin-bottom: 3.5rem;
    max-width: 26.6875rem;
    position: relative;
  }
  form #email {
    padding: 0.875rem 2rem;
    display: block;
  }
  form #submit {
    margin-top: 0;
    padding: 0.5625rem 1.6875rem;
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    margin-bottom: 16.0625rem;
    padding: 0;
  }
  footer img {
    height: 1.8125rem;
  }
  footer #google {
    height: 1.125rem;
  }
  footer #pocket {
    height: 1.625rem;
  }
}

@media only screen and (min-width: 64em) {
  body {
    padding-left: 10.3125rem;
    background-position: bottom 4.875rem right;
  }
  body::before {
    background: url("../../assets/desktop/image-host.jpg") no-repeat;
    background-position: center right;
  }
  header {
    margin-top: 6.375rem;
    margin-bottom: 6.4375rem;
  }
  main {
    row-gap: 1.5rem;
    margin-right: 3.625rem;
  }
  main h1 {
    font-size: 3.25rem;
    line-height: 3.875rem;
    margin-top: 5.5rem;
  }
  footer {
    margin-bottom: 8.125rem;
  }
}
