@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #090b1a;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.cardContainer {
  margin: 5.5rem 1.5rem;
  background-color: #1b1938;
  -webkit-box-shadow: 0 1.25rem 1.25rem -0.625rem rgba(23, 25, 41, 0.203087);
          box-shadow: 0 1.25rem 1.25rem -0.625rem rgba(23, 25, 41, 0.203087);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardContainer .imgContainer {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #aa5cdb;
}

.cardContainer .imgContainer .imgMobile {
  width: 100%;
  height: 100%;
  display: block;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.cardContainer .imgContainer .imgDesktop {
  display: none;
}

.cardContainer .contentContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardContainer .contentContainer h1 {
  margin: 2.5rem 1.96875rem 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  color: white;
}

.cardContainer .contentContainer h1 span {
  color: #aa5cdb;
}

.cardContainer .contentContainer .detail {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  margin: 0 2rem 2.5rem 1.9375rem;
}

.cardContainer .contentContainer .statsContainer {
  margin: 0 2rem 2rem 1.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.cardContainer .contentContainer .statsContainer .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.125rem;
}

.cardContainer .contentContainer .statsContainer .company .coNum {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
}

.cardContainer .contentContainer .statsContainer .company .co {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.cardContainer .contentContainer .statsContainer .template, .cardContainer .contentContainer .statsContainer .query {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.125rem;
}

.cardContainer .contentContainer .statsContainer .template .tplNum, .cardContainer .contentContainer .statsContainer .query .tplNum, .cardContainer .contentContainer .statsContainer .query .qryNum {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
}

.cardContainer .contentContainer .statsContainer .template .tpl, .cardContainer .contentContainer .statsContainer .query .tpl, .cardContainer .contentContainer .statsContainer .query .qry {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 48em) {
  .cardContainer {
    max-width: 69.375rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 11.0625rem 10.3125rem;
  }
  .cardContainer .imgContainer {
    width: 50%;
    margin-left: 0.9375rem;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .cardContainer .imgContainer .imgMobile {
    display: none;
  }
  .cardContainer .imgContainer .imgDesktop {
    display: initial;
    width: 100%;
    height: 100%;
    display: block;
    mix-blend-mode: multiply;
    opacity: 0.75;
  }
  .cardContainer .contentContainer {
    width: 50%;
    margin-right: 0.9375rem;
    text-align: left;
  }
  .cardContainer .contentContainer h1 {
    margin: 4.4375rem 4.0625rem 1.5625rem 4.5rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .cardContainer .contentContainer .detail {
    margin: 0 5.90625rem 4.5rem 4.46875rem;
  }
  .cardContainer .contentContainer .statsContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    row-gap: 3.75rem;
    margin: 0 7.3125rem 3.6875rem 4.46875rem;
  }
  .cardContainer .contentContainer .statsContainer .company {
    margin-right: 0.1875rem;
  }
  .cardContainer .contentContainer .statsContainer .company .co {
    width: 5.125rem;
  }
  .cardContainer .contentContainer .statsContainer .template .tpl, .cardContainer .contentContainer .statsContainer .query .tpl, .cardContainer .contentContainer .statsContainer .query .qry {
    width: 4.875rem;
  }
  .cardContainer .contentContainer .statsContainer .query .qry {
    width: 3.8125rem;
  }
}
/*# sourceMappingURL=styles.css.map */