@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

html,
button {
  font-family: "Barlow", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 4rem auto 6rem auto;
      grid-template-rows: auto 4rem auto 6rem auto;
  place-content: center;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 900;
  color: #162441;
}

button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  width: 9.375rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

p {
  font-weight: 500;
  color: #7b8bad;
}

img,
button {
  display: block;
}

header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4375rem 1.5rem 0;
}

header button {
  background: #e8eff2;
  color: #162441;
}

main {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -ms-grid;
  display: grid;
  row-gap: 6.9375rem;
}

main #content1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 4rem auto 1.5rem auto 4.6875rem auto;
      grid-template-rows: auto 4rem auto 1.5rem auto 4.6875rem auto;
  overflow: hidden;
}

main #content1 .cont1-section1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  padding: 0 1.5rem;
}

main #content1 .cont1-section1 h1 {
  font-size: 3rem;
  line-height: 3rem;
}

main #content1 .cont1-section1 p {
  font-size: 1rem;
  line-height: 1.625rem;
}

main #content1 .cont1-section1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

main #content1 .cont1-section1 div button {
  background: #f06819;
  color: white;
}

main #content1 .cont1-section1 div p {
  font-weight: 700;
}

main #content1 .image1-m {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  margin-left: 1.5rem;
  width: 100%;
  height: 20.6875rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25rem;
}

main #content1 .image1-t {
  display: none;
}

main #content1 .image1-d {
  display: none;
}

main #content1 .image2-container {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.7fr;
      grid-template-columns: 1fr 1.7fr;
  -webkit-column-gap: 0.125rem;
          column-gap: 0.125rem;
  width: 100%;
  height: 12.0625rem;
  padding-right: 1.5rem;
}

main #content1 .image2-container .image2 {
  width: 100%;
  margin-left: -1.375rem;
  background-color: #f06819;
  border-radius: 1.25rem;
}

main #content1 .image2-container .image2 .m {
  width: 100%;
  height: 12.0625rem;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.75;
  border-radius: 1.25rem;
}

main #content1 .image2-container .image2 .t {
  display: none;
}

main #content1 .image2-container .image2 .d {
  display: none;
}

main #content1 .image2-container .image3-m {
  width: 100%;
  height: 12.0625rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25rem;
}

main #content1 .image2-container .image3-t {
  display: none;
}

main #content1 .image2-container .image3-d {
  display: none;
}

main #content1 .cont1-section2 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
  text-align: center;
}

main #content1 .cont1-section2 h2 {
  padding: 0 3.75rem;
  font-size: 2rem;
  line-height: 2.25rem;
}

main #content1 .cont1-section2 p {
  padding: 0 1.5rem;
  font-size: 1rem;
  line-height: 1.625rem;
}

main #content2 {
  display: -ms-grid;
  display: grid;
  row-gap: 4rem;
  padding: 0 1.5rem;
}

main #content2 section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 3rem auto 1.5rem auto;
      grid-template-rows: auto 3rem auto 1.5rem auto;
  justify-items: center;
  text-align: center;
}

main #content2 section .icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 4.0625rem;
  height: 4.0625rem;
  background: #f06819;
  border-radius: 1rem;
  position: relative;
}

main #content2 section .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #content2 section h3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

main #content2 section p {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  font-size: 1rem;
  line-height: 1.625rem;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  padding-bottom: 3.125rem;
  text-align: center;
}

footer p {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
}

footer p span {
  font-weight: 500;
}
