// 맨 위부터 검은색 전까지
// size: 375 x 622
// padding: 40 24 166 24
.content-container {
    max-width: 100%;
    height: 38.875rem;
    padding: 2.5rem 0 10.375rem 1.5rem;

    // logo ~ content: 64
    display: flex;
    flex-direction: column;
    gap: 4rem;

    // 146.09 x 32
    img {
        max-width: fit-content;
        height: 2rem;
    }

    // 327 x 320
    .content {
        max-width: 23.4375rem;
        height: 38.875rem;

        // header ~ paragraph: 20
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        // 327 x 144
        h1 {
            max-width: 100%;
            height: 9rem;

            font: {
                size: 2.5rem;
                weight: 700;
            }

            color: $black;
            line-height: 3rem;
            letter-spacing: -0.028125rem;
        }

        // 327 x 156
        p {
            max-width: 100%;
            height: 9.75rem;

            font-weight: 400;
            color: $black;
            line-height: 1.625rem;
        }
    }
}