// premium card bottom ~ bottom
// width: 375px height: 397px
// padding: top 64px right 24px bottom 80px left 24px
footer {
    max-width: 100%;
    height: 24.8125rem;
    padding: 4rem 1.5rem;

    // logo ~ text: 32px
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
        max-width: fit-content;
        height: 2rem;
    }

    // width: 327px height: 189px
    .contact-container {

        // content ~ sns: 64px
        display: flex;
        flex-direction: column;
        gap: 4rem;

        // width: 327px height: 105px
        p {
            max-width: 100%;
            height: 6.5625rem;

            font-weight: 400;
            color: $black;
            line-height: 1.625rem;

            span {
                font-weight: 700;
                color: $black;
                line-height: 1.625rem;
            }
        }

        // width: 100px height: 20px
        .sns {
            max-width: 6.25rem;
            height: 1.25rem;

            display: flex;
            flex-direction: row;
            gap: 1.25rem; // 20px

            a {
                width: 1.25rem;
                height: 1.25rem;
            }

            .facebook {
                background: url(../../assets/icon-facebook.svg) no-repeat center;
            }

            .facebook:hover {
                background: url(../../assets/icon-facebook-hover.svg) no-repeat center;
            }

            .instagram {
                background: url(../../assets/icon-instagram.svg) no-repeat center;
            }

            .instagram:hover {
                background: url(../../assets/icon-instagram-hover.svg) no-repeat center;
            }

            .twitter {
                background: url(../../assets/icon-twitter.svg) no-repeat center;
            }

            .twitter:hover {
                background: url(../../assets/icon-twitter-hover.svg) no-repeat center;
            }
        }
    }
}