// For mobile:
.attribution
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

    p
    {
        font:
        {
            size: 11px;
            weight: 500;
        }

        color: $White;
    }
    
    a
    {
        font:
        {
            size: 11px;
            weight: 500;
        }

        color: $SoftBlue;

        text-decoration: none;
    }

    a:hover
    {
        color: hsl(15, 51%, 70%);
    }
}

@media only screen and (max-height: 36.875em) {
    .attribution
    {
        display: none;
    }
}

@media only screen and (max-width: 18.75em) {
    .attribution
    {
        display: none;
    }
}

// For desktop:
@media only screen and (min-width: 23.5em) and (max-height: 40em) {
    .attribution
    {
        display: none;
    }
}