// px to rem
@function rem ($px) {
    $remValue: ($px / 16) + rem;
    @return $remValue;
}

// card
.cardContainer {
    margin: rem(88) rem(24);

    // card color and shape, shadow
    background-color: $cardBG;
    box-shadow: 0 rem(20) rem(20) rem(-10) rgba(23, 25, 41, 0.203087);
    border-radius: rem(8);

    // Layout 100%
    display: flex;
    flex-direction: column;

    // image
    .imgContainer {
        // Layout 100%
        width: 100%;

        // image shape and blend color
        border-radius: rem(8) rem(8) 0 0;
        background-color: $accent;

        // image
        .imgMobile {
            // set size
            width: 100%;
            height: 100%;
            display: block;

            // color blend
            mix-blend-mode: multiply;
            opacity: 0.75;
        }

        .imgDesktop {
            display: none;
        }
    }

    // content
    .contentContainer {
        // Layout 100%
        width: 100%;

        // content of main frame
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;

        // header
        h1 {
            margin: rem(40) rem(31.5) rem(16);
            font-size: rem(28);
            font-weight: 700;
            line-height: rem(32);
            color: $mainH-S;

            span {
                color: $accent;
            }
        }

        // detail
        .detail {
            color: $mainP;
            font-weight: 400;
            font-size: rem(15);
            line-height: rem(25);

            margin: 0 rem(32) rem(40) rem(31);
        }

        // stats
        .statsContainer {
            margin: 0 rem(32) rem(32) rem(31);

            // content of stats frame
            display: flex;
            flex-direction: column;
            gap: rem(24);

            .company {
                // content of detail
                display: flex;
                flex-direction: column;
                gap: rem(2);

                .coNum {
                    color: $mainH-S;
                    font-size: rem(24);
                    font-weight: 700;
                    line-height: rem(29);
                }

                .co {
                    color: $statH;
                    font-family: 'Lexend Deca', sans-serif;
                    font-weight: 400;
                    font-size: rem(12);
                    line-height: rem(25);
                    letter-spacing: rem(1);
                    text-transform: uppercase;
                }
            }

            .template {
                display: flex;
                flex-direction: column;
                gap: rem(2);

                .tplNum {
                    color: $mainH-S;
                    font-size: rem(24);
                    font-weight: 700;
                    line-height: rem(29);
                }

                .tpl {
                    color: $statH;
                    font-family: 'Lexend Deca', sans-serif;
                    font-weight: 400;
                    font-size: rem(12);
                    line-height: rem(25);
                    letter-spacing: rem(1);
                    text-transform: uppercase;
                }
            }

            .query {
                @extend .template;

                .qryNum {
                    @extend .tplNum;
                }

                .qry {
                    @extend .tpl;
                }
            }
        }
    }
}