// card frame 1
#card-frame1 {
  // color and shape
  background-color: white;
  box-shadow: 0 rem(15) rem(30) rgba(0, 81, 171, 0.148847);
  border-radius: rem(5);

  .content1 {
    // heading 1
    h1 {
      @include font(700, rem(20), rem(23), $Cyan);
      letter-spacing: rem(-0.25);
    }

    // heading 2
    h2 {
      @include font(700, rem(15), rem(20), $BrightYellow);
      letter-spacing: rem(-0.19);
    }

    // paragraph
    p {
      @include font(400, rem(14), rem(26), $GrayishBlue);
      letter-spacing: rem(-0.17);
    }
  }

  // card frame 2
  .card-frame2 {
    // color
    background-color: $Cyan;

    .content2 {
      // heading
      h3 {
        @include font(700, rem(18), rem(21), white);
        letter-spacing: rem(-0.22);
      }

      // cost
      .cost {
        // number font
        @include font(700, rem(32), rem(37), white);
        letter-spacing: rem(-0.4);

        // period
        span {
          display: block;

          // text font
          @include font(400, rem(16), rem(26), white);
          letter-spacing: rem(-0.2);
          opacity: 0.5;
        }
      }

      // detail
      .detail {
        // text font
        @include font(400, rem(16), rem(26), white);
        letter-spacing: rem(-0.2);
      }

      // button
      a {
        // color and shape
        background-color: $BrightYellow;
        box-shadow: 0 rem(10) rem(10) rgba(0, 0, 0, 0.0973011);
        border-radius: rem(5);
        // action
        opacity: 1;
        transition: 0.3s;

        // font
        @include font(700, rem(16), rem(19), white);
        letter-spacing: rem(-0.2);
        text-decoration: none;
        text-align: center;

        // hover action
        &:hover {
            opacity: 0.5;
        }
      }
    }

    // card frame 3
    .card-frame3 {
      // content
      .content3 {
        position: relative;

        // for align
        display: flex;
        flex-flow: column nowrap;
        gap: rem(18);

        // heading
        h3 {
          @include font(700, rem(18), rem(21), white);
          letter-spacing: rem(-0.22);
        }
        // paragraph
        p {
          @include font(400, rem(14), rem(20), white);
          letter-spacing: rem(-0.17);
          opacity: 0.75;
        }

        // for background color
        &::after {
          content: "";
          // color
          background-color: white;
          mix-blend-mode: normal;
          opacity: 0.15;

          // location
          position: absolute;
          top: 0;
          left: 0;

          // set size
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
