$PaleBlue: hsl(225, 100%, 94%); // 배경 색
$BrightBlue: hsl(245, 75%, 52%); // 버튼과 링크

$VeryPaleBlue: hsl(225, 100%, 98%); // 플랜 배경 색
$DesaturatedBlue: hsl(224, 23%, 55%); // 디테일
$DarkBlue: hsl(223, 47%, 23%); // 제목