* {
  // reset
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend Deca", sans-serif;
}

body {
  // full screen
  width: 100%;
  min-height: 100vh;

  // center
  display: grid;
  place-content: center;

  // background
  background-color: $VeryLightGray;

  // for footer
  position: relative;
}

// attribution
footer {
  // set center
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  // font
  @include font(700, rem(11), auto, $BrightOrange);
  text-align: center;

  // set link color
  a {
    color: $DarkCyan;
    text-decoration: none;

    &:hover {
      color: $VeryDarkCyan;
    }
  }
}
