// For Desktop: 1440px
@media only screen and (min-width: 90em) {

    body {
        // set center
        padding: rem(177) rem(165);
    }

    // card
    .cardContainer {

        // image header
        .background {

            // shape
            border-radius: 0 rem(8) rem(8) 0;

            .imgContainer {
                // set height
                height: rem(446);

                // image
                background-image: url("../../images/image-header-desktop.jpg");
            }
        }

        // content
        .contentContainer {
            // content of main frame
            gap: rem(25);
            text-align: left;
            align-items: flex-start;

            // header
            h1 {
                // set font
                font-size: rem(36);
                line-height: rem(44);
            }
        }

        // stats
        .statsContainer {
            // content of stats frame
            flex-flow: row wrap;
            row-gap: rem(60);
            align-items: initial;
            align-content: flex-end;
            text-align: left;
        }
    }
}