// For tablet:
@media only screen and (min-width: 23.5em) {

    // 1. general
    body {
        background-image: url("../../assets/bg-pattern-1.svg"), url("../../assets/bg-main-tablet.png");
        background-repeat: no-repeat, no-repeat;
        background-position: 107% -2.5%, 75% -40%;
        background-size: 16.6875rem 25rem, auto;
    }

    // 2. content
    // size: 768 x 770
    // padding: 62 209 249 39
    .content-container {
        height: 48.125rem;
        padding: 3.875rem 0 15.5625rem 2.4375rem;

        // logo ~ content: 95
        gap: 5.9375rem;

        // 520 x 332 
        .content {
            max-width: 32.5rem;
            height: 20.75rem;

            // header ~ paragraph: 28
            gap: 1.75rem;

            // 520 x 192
            h1 {
                height: 12rem;

                font-size: 4rem;
                line-height: 4rem;
                letter-spacing: -0.045625rem;
            }

            // 514 x 112
            p {
                max-width: 32.125rem;
                height: 7rem;

                font-size: 1.125rem;
                line-height: 1.75rem;
            }
        }
    }

    // 3. design
    // width: 768px height: 696px
    // padding top 0 right 36px bottom 0 left 36px
    .design-container {
        height: 43.5rem;
        padding: 0 2.25rem;

        // background: width 696px height 600px
        .BG-container {
            max-width: 43.5rem;

            .pattern {
                top: -5.17%; // -31px
                left: 32.9%; // 229px
            }

            // phone: width 270px height 556px
            .phone {
                max-width: 16.875rem;
                height: 34.75rem;

                top: -23%; // -138px
                left: 9.2%; // 64px
            }

            // premium card: width 399px height 546px
            .premium-card {
                max-width: 24.9375rem;

                top: 25%; // 150px
                left: 34.34%; // 239px

                // 302 x 192px
                // padding: top 48px right 39px bottom 36px left 48px
                .card-content {
                    height: 12rem;
                    // padding-left: 3rem;
                }

                // padding: top 0px right 180px bottom 0px left 54px
                .price {
                    padding-left: 3.375rem;
                }

                // padding: top 32px right 51px bottom 48px left 54px
                .buttons {
                    padding-left: 3.375rem;
                }
            }
        }
    }

    // 4. contact
    // width: 768px height: 315px
    // padding: top 87px right 36px bottom 85px left 36px
    footer {
        height: 19.6875rem;
        padding: 5.4375rem 2.25rem 5.3125rem;

        .contact-container {
            // content ~ sns: 230px
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            // width: 366px height: 79px
            p {
                max-width: 22.875rem;
                height: 4.9375rem;
            }
        }
    }
}