// For desktop:
@media only screen and (min-width: 48.0625em) {

    // 1. general
    body {
        background-image: url("../../assets/bg-pattern-1.svg"), url("../../assets/bg-main-desktop.png");
        background-repeat: no-repeat, no-repeat;
        background-position: 100% -2.75rem, 65% -16rem;
        background-size: 19.5rem 29.25rem, auto;
    }

    // 2. content
    // size: 1440 x 860
    // padding: 62 450 321 160
    .content-container {
        height: 53.75rem;
        padding: 3.875rem 0 20.0625rem 10rem;

        // logo ~ content: 127
        gap: 7.9375rem;

        // 1015 x 318
        .content {
            max-width: 63.4375rem;
            height: 19.875rem;

            // header ~ paragraph: 40
            gap: 2.5rem;

            // 1015 x 176
            h1 {
                max-width: 63.4375rem;
                height: 11rem;

                font-size: 5.5rem;
                line-height: 5.5rem;
                letter-spacing: -0.0625rem;
            }

            // 825 x 102
            p {
                max-width: 51.5625rem;
                height: 6.375rem;

                font-size: 1.25rem;
                line-height: 2.125rem;
            }
        }
    }

    // 3. design
    // size: 1440 x 715
    // padding: 0 165 0 165
    .design-container {
        height: 44.6875rem;
        padding: 0 10.3125rem;

        // 1110 x 600
        .background {
            max-width: 69.375rem;

            // 312 x 468
            img {
                max-width: 19.5rem;
                height: 26.25rem;

                // position(x, y): 501 -40
                left: 31.3125rem;
                top: -2.5rem;
            }
        }

        // 312 x 642
        .phone {
            max-width: 19.5rem;
            height: 40.125rem;

            // position(x, y): 267 -213
            left: 16.6875rem;
            top: -13.3125rem;
        }

        // 446 x 625
        // padding: 58 59 48 54
        .premium-card {
            max-width: 27.875rem;
            height: 39.0625rem;

            padding: 3.625rem 3.6875rem 3rem 3.375rem;

            // content ~ buttons: 46px
            gap: 2.875rem;

            // position(x, y): 734 90
            left: 45.875rem;
            top: 5.625rem;

            // 333 x 335
            .card-content {
                max-width: 20.8125rem;
                height: 20.9375rem;

                // header ~ paragraph: 22
                // paragraph ~ subscription: 39
                gap: 1.375rem;

                // 333 x 52
                h2 {
                    height: 3.25rem;
                    font-size: 2.5rem;
                    line-height: 3.25rem;
                }

                // 333 x 170
                p {
                    height: 10.625rem;
                    font-size: 1.25rem;
                    line-height: 2.125rem;
                }

                // + margin: top 17 left 0
                .subscription {
                    margin-top: 1.0625rem;
                    margin-left: 0;
                }
            }

            // 333 x 138
            // + margin: left 0
            .download-btns {
                max-width: 20.8125rem;
                margin-left: 0;
            }
        }
    }

    // 4. contact
    // 1440 x 257
    // padding: 87 165 91 165
    footer {
        height: 16.0625rem;
        padding-bottom: 5.6875rem;
        padding-left: 10.3125rem;

        // logo ~ text: 137.91
        flex-direction: row;
        gap: 8.619375rem;

        // margin left 0
        img {
            margin-left: 0;
        }

        // 825 x 79
        .contact-container {
            max-width: 51.5625rem;

            // content ~ sns: 359 (not set)
            gap: 22.4375rem;
        }
    }
}