// For tablet:
@media only screen and (min-width: 23.5em) {

    // 1. general
    body {
        background-image: url("../../assets/bg-pattern-1.svg"), url("../../assets/bg-main-tablet.png");
        background-repeat: no-repeat, no-repeat;
        background-position: left 19.3125rem top -2rem, left -25.25rem top -15.875rem;
        background-size: auto 25rem, auto;
    }

    // 2. content
    // header: width 520px height 192px
    // paragraph: width 514px height 112px
    // width: 768px height: 770px
    // padding: top 62px right 209px bottom 249px left 39px
    // logo ~ header: 95px
    // header ~ paragraph: 28px
    .content-container {
        max-width: 48rem;
        height: 48.125rem;
        padding: 3.875rem 0 15.5625rem 2.4375rem;

        gap: 5.9375rem;

        .content {
            gap: 1.75rem;

            h1 {
                max-width: 32.5rem;
                height: 12rem;

                font-size: 4rem;
                line-height: 4rem;
                letter-spacing: 0.045625rem;
            }

            p {
                max-width: 32.125rem;
                height: 7rem;

                font-size: 1.125rem;
                line-height: 1.75rem;
            }
        }
    }

    // 3. design
    // width: 768px height: 696px
    // padding top 0 right 36px bottom 0 left 36px
    .design-container {
        max-width: 48rem;
        height: 43.5rem;
        padding: 0 2.25rem;

        .BG-container {

            .pattern {
                top: 5.17%; // -31 px
                left: 32.9%; // 229px
            }

            // phone: width 270px height 556px
            .phone {
                width: 16.875rem;
                height: 34.75rem;

                top: -23%; // -138px
                left: 9.2%; // 64px
            }

            // premium card: width 399px height 546px
            .premium-card {
                max-width: 24.9375rem;

                top: 25%; // 150px
                left: 34.34%; // 239px

                // padding: top 48px right 39px bottom 36px left 48px
                .card-content {
                    padding-right: 2.4375rem;
                    padding-left: 3rem;
                }

                // padding: top 0px right 180px bottom 0px left 52px
                .price {
                    padding-right: 0; // empty space
                    padding-left: 3.25rem;
                }

                // padding: top 32px right 51px bottom 48px left 52px
                .buttons {
                    padding-left: 3.1875rem;
                    padding-right: 3.25rem;
                }
            }
        }
    }

    // 4. contact
    // width: 768px height: 315px
    // padding: top 87px right 36px bottom 85px left 36px
    footer {
        height: 19.6875rem;
        padding: 5.4375rem 2.25rem 5.3125rem;

        .contact-container {
            // content ~ sns: 230px
            display: flex;
            flex-direction: row;
            // gap: 14.375rem;
            align-items: center;
            justify-content: space-between;

            // width: 366px height: 79px
            p {
                max-width: 22.875rem;
                height: 4.9375rem;
            }
        }
    }

}