@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
@import "colors";

@mixin set-size ($w, $h, $mw, $mh)
{
    width: $w;
    height: $h;
    max-width: $mw;
    max-height: $mh;
}

@mixin flex ($direction, $gap)
{
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

// For mobile phones:
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font:
    {
        family: 'Red Hat Display', sans-serif;
        size: 16px;
    }
}

body
{
    @include set-size(100vw, 100vh);
    text-align: center;

    background:
    {
        image: url("/images/pattern-background-mobile.svg");
        color: $PaleBlue;
        repeat: no-repeat;
    }
}

// card start
.card-container
{
    @include set-size(100%, 100%, 327px , 567px);
    @include flex(column, 0);

    background-color: white;
    box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;

    .main-img
    {
        @include set-size(100%, 100%, 100% , 160px);
        border-radius: 20px 20px 0 0;
    }

    .text-container
    {
        @include flex(column, 16px);
        padding: 32px 32px 0;
 
        h1
        {
            font:
            {
                size: 22px;
                weight: 900;
            }
            color: $DarkBlue;
        }

        p
        {
            font:
            {
                size: 15px;
                weight: 500;
            }
            line-height: 25px;
            color: $DesaturatedBlue;
        }
    }

    .plan-container
    {
        @include set-size(100%, 100%, 100% , 129px);
        padding: 24px;

        .plan-box
        {
            @include set-size(100%, 100%);

            background-color: $VeryPaleBlue;
            border-radius: 11px;
            padding: 16px;

            .box-content
            {
                @include set-size(100%, 100%, 247px , 48px);
                @include flex(row, 20px);
                align-items: center;
                justify-content: space-between;

                img
                {
                    @include set-size(100%, 100%, 48px , 48px);
                }

                div
                {
                    @include set-size(100%, 100%, none 40px);
                    @include flex(column, 3px);

                    .plan
                    {
                        font:
                        {
                            size: 14px;
                            weight: 900;
                        }

                        color: $DarkBlue;
                        text-align: left;
                    }

                    .price
                    {
                        font:
                        {
                            size: 14px;
                            weight: 500;
                        }
                        
                        color: $DesaturatedBlue;
                        text-align: left;
                    } 
                }

                a
                {
                    @include set-size(100%, 100%, 48px , 17px);

                    font:
                    {
                        size: 13px;
                        weight: 700;
                    }

                    color: $BrightBlue;
                }

                a:hover
                {
                    text-decoration: none;
                    color: hsla(245, 83%, 68%, 1);
                }
            }
        
        }
        
    }

    .button-container
    {
        @include set-size(100%, 100%, none , 74px);
        padding: 24px;
        padding-top: 0;

        .button-box
        {
            @include set-size(100%, 100%, 279px , 50px);
            padding: 15px 0;

            background-color: $BrightBlue;
            border-radius: 11px;
            box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
            border: none;
            cursor: pointer;
        
            a
            {
                color: white;
                text-decoration: none;
                
                font:
                {
                    size: 15px;
                    weight: 900;
                }
            }
            
        }

        .button-box:hover
        {
            background-color: #766CF1;
        }
    }

    .cancel
    {
        text-decoration: none;

        font:
        {
            size: 15px;
            weight: 900;
        }

        color: $DesaturatedBlue;
    }

    .cancel:hover
    {
        color: $DarkBlue;
    }
}

.attribution
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    p
    {
        font:
        {
            size: 11px;
            weight: 500;
        }

        color: $DarkBlue;
    }
    
    a
    {
        font:
        {
            size: 11px;
            weight: 500;
        }

        color: $DesaturatedBlue;

        text-decoration: none;
    }

    a:hover
    {
        color: hsl(24, 23%, 55%);
    }
}

@media only screen and (max-height: 625px)
{
    .attribution
    {
        display: none;
    }
}



@media only screen and (min-width: 375px)
{
    // For desktop
    body
    {
        background-image: url("/images/pattern-background-desktop.svg");
    }

    .card-container
    {
        @include set-size(450px, 696px);

        .main-img
        {
            @include set-size(100%, 220px);
            margin-bottom: 46px;
        }
        .text-container
        {
            padding: 0px 50px;

            h1
            {
                font-size: 28px;
            }
        }

        .plan-container
        {
            @include set-size(354px, 98px);
            margin: 16px 48px 32px;
            
            img
            {
                margin: 24px;
            }

            div
            {
                width: 53%;
            }
        }

        .button
        {
            margin: 0px 48px;
        }

        .cancel
        {
            margin: 29px 0px 40px;
        }
    }
    
    @media only screen and (max-height: 750px)
    {
        .attribution
        {
            display: none;
        }
    }
}

@media only screen and (max-width: 310px)
{
    .attribution
    {
        display: none;
    }
}